:root {
    --color-lilas1: #542583;
    --color-lilas2: #773E91;
    --color-azul: #0678BF;
    --color-dourado1:#A66A21;
    --color-dourado2: #E8BF5F;
    --vermelho: #E50914;
    --preto: #141414;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header .logo {
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

.superliga {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50) 100%), url("../img/superliga.jpeg");
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.superliga .container {
    padding: 20px;
}

.superliga .botoes {
    margin-top: 40px;
}

.titulo {
    font-size: 35px;
}

